<section class="dashboard-section">
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <p class="create-post-title">Post Title</p>
            <input type="text" id="post-title" name="post-title" />
        </div>

        <div>
            <p class="create-post-title">Post Body</p>
            <textarea id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
{{#if posts.length}}
<section class="dashboard-section">
    <h2>Your Posts</h2>
    <h5>Click a post title to edit it.</h5>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            
        </li>
        {{/each}}
    </ul>
</section>
{{else}}
<section class="dashboard-section">
     <h2>You Have No Posts (Yet)</h2>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>