<div id="login-flexbox">

<form class="login-form">
    <h5>Existing User</h5>
    <div>
        <p>Username:</p>
        <input type="text" id="username-login" />
    </div>
    <div>
        <p>Password:</p>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<form class="signup-form" id="right-form">
    <h5>New User</h5>
    <div>
        <p>Username:</p>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <p>Password:</p>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Sign Me Up, Scotty!</button>
    </div>
</form>
</div>
<script src="/javascript/login.js"></script>