:root {
  --color-green: #e6ffe6;
  --color-brown: hsl(30, 100%, 7%)
}

body {
    margin: 0;
}

* {
    background-color: var(--color-green);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--color-brown);  
}

nav a {
    margin: 20px;
    background-color: var(--color-brown);
    color: var(--color-green);
}

header {
    background-color: var(--color-brown);
    padding: 10px ;
}

h1 {
   display: table;
   width: auto;
   margin: 15px 50px; /* adjust as needed */
   padding: 3px; /* adjust as needed */
   border: 5px solid var(--color-green);
   border-radius: 5px;
}

h1 a {
    color: var(--color-brown);
}

ul {
    margin: 10px 50px 10px 5px;
    list-style-type: none;
}

.meta {
    color: var(--color-brown);
    padding: 10px;
}

article, section {
    border: 5px solid var(--color-brown);
    margin-bottom: 10px;
}

.posted-by{
    float: right;
}

article .title, article .title a, article .title span{
    background-color: var(--color-brown);
    color: var(--color-green);
}

article .title {
    padding: 8px;
    font-weight: bold;
}

main {
    min-height: 85vh;
}

a {
    text-decoration: none;
}

h2, h5, .create-post-title {
    text-align: center;
    color: var(--color-brown);
}

.create-post-title {
    font-weight: bold;
}

.new-post-form {
    text-align: center;
}

div #post-body {
    height: 20vh;
    width: 50%;
}

#logout{
    background-color: var(--color-brown);
    border: none;
    color: var(--color-green);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

.greentext{
    color: var(--color-green);
}

.browntext{
    color: var(--color-brown);
}

.edit-post-form button, .new-post-form button{
    background-color: var(--color-brown);
    color: var(--color-green);
       border: 5px solid var(--color-brown);
   border-radius: 5px;
   padding: 10px;
   margin: 10px 10px;
}

.dashboard-section {
    margin: 20px 30px;
}

textarea{
    resize: none;
    border: 2px solid var(--color-brown);
}

#post-title{
    border: 2px solid var(--color-brown);
}

#login-flexbox{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
#login-flexbox form{
    text-align: center;
    font-size: 1.6em;
    width: 50%;
}
.signup-form div p,
.login-form div p {
    margin: 10px;
}

#right-form {
    padding: auto 20px;

    border-left: 5px solid var(--color-brown)
}
.signup-form div button ,
.login-form div button,
.comment-form div button {
        background-color: var(--color-brown);
    color: var(--color-green);
       border: 5px solid var(--color-brown);
   border-radius: 5px;
   padding: 10px;
   margin: 10px 10px;
   font-weight: bolder;
}

#login-flexbox form div input {
    font-size: 1em;
}
.edit-post-form, .comment-form{
    text-align: center;
}

#edit-post-body {
    resize: none;
    border: 2px solid var(--color-brown);
}